.div-table {
    display: table;
    width: auto;
    border: 1px solid #000000;
    border-spacing: 5px; /*cellspacing:poor IE support for  this*/
    border-collapse: collapse;
}

.div-table-row:nth-child(odd) {
    background-color: #c5cae9;
}

.div-table-row:hover {
    background-color: #f5f5f5;
}

.div-table-row, .div-table-head {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-head {
    font-weight: bold;
    background-image: linear-gradient(to bottom, #f6f7f8 50%, #d2d7d9 100%);
    text-align: center;
    height: 30px;
    padding: 3px;
}
.div-table-head > .div-table-col {
    align : center;

}
.div-table-col {
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 200px;
}

          